.row{
    color: #fff;
    margin-top: 70px;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
    
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    height: 170px;
    margin-right: 10px;
    min-width: 299px;
}

.poster:hover{
    transform: scale(1.1);
    
}

.genre{
    margin-left: 15px;
    font-weight: normal;  
}
.h4align{
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
    justify-content: center;
}
